
<div class="container my-5 ">

<div class="row ">

  <div class="col-lg-7 border me-md-3 mx-1 bg-white regular shadow helo ">
    <div class=" pt-3 ">
      <%= link_to 'Keep Shopping', products_path, class: 'btn btn-warning' %>
    </div>
    <hr />
    <section >
      <%= render(@cart.line_items) %>
    
      <div class="row">
        <div class="col-8 mb-3">
          <%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: "Are you sure? " }, class: "btn btn-danger" %>
        </div>
        <div class="col">
          <%= button_to 'Place Order', @cart, data: { confirm: "Are you sure? " }, class:"btn btn-success" %>
        </div>
      </div>
    </section>
  
  </div>

  <div class="col-lg-3 border mt-lg-0 mt-3 mx-1 h-50 bg-white regular shadow ">
     <p class="text-muted fs-5 my-3 ms-3">PRICE DETAILS </p>
     <hr>
     <div class="row">
      <div class="col-8 ms-2">
        <p>Price (<%= cart_count_over_one %> items)</p>
        <p>Discount(10%) </p>
        <p class="">Delivery Charges</p>
      </div>
      <div class="col">
        <p><%= "₹#{(@cart.total_price)}" %></p>

        <p class="text-success ms-2"> <%= "₹#{(@cart.total_price) * 10/100}" %>  </p>
        <p class="ms-2">₹40</p>
      </div>
<hr class="text-muted">
     </div>
     <div class="row mb-1">
      <div class="col-8">
        <p class="h5">Total Amount</p>
      </div>
      <div class="col">
        <p class="h5"><%= "₹#{(@cart.total_price)-((@cart.total_price) * 10/100)+40}" %></p>
      </div>
      <hr class="text-muted">
  </div>
  <p class="text-success">You will save <%= "₹#{(@cart.total_price) - ((@cart.total_price)-((@cart.total_price) * 10/100)+40)}" %> on this order</p>
</div>



</div>