<div class="row mx-auto w-75 border border-2 regular shadow mt-5" style="height:75vh;">
  <div class="col-md-6  d-flex flex-column text-center justify-content-center " style="background: #aec5b8;">
       
      <h1>Welcome to Buy_Kart</h1>

      <h3>Are you ready to Sell your Products?</h3>

  </div>


  <div class="col-md-4 mx-auto my-auto ">


<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>



        <div class="form-inputs row g-3 ">
          <%= f.input :brand, required: true %>
            <%= f.input :description, required: true %>
              <%= f.input :title, required: true %>
                <%= f.input :price, required: true %>
                  <%= f.input :image, required: true %>
        </div>


        <div class="form-actions mt-3">
          <%= f.button :submit, class: " btn btn-danger" %>
        </div>

      <% end %>
        </div>
    </div>
