<!-- carousel section -->

<div class="container-fluid ">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active ">
        <%= image_tag "women.png" , class: "d-block w-100 img-fluid " , alt: "Banner1" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "men.png" , class: "d-block w-100 img-fluid" , alt: "Banner2" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "men.png" , class: "d-block w-100 img-fluid" , alt: "Banner3" %>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden ">Next</span>
    </button>
  </div>

</div>


<!-- Category selection -->

<%# <div class="container-fluid py-4 px-5">
  <!-- category first row -->

  <div class="row">
    <div class="card col-12 col-md-4 border-0 pb-2 zoom">
      <img src="https://rukminim1.flixcart.com/flap/480/480/image/8081dc1796a116f1.jpg?q=50"
        class="card-img img-thumbnail" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title"><a href="#"><button type="button" class="btn btn-light btn-sm">New
              Arrivals</button></a></h5>
      </div>
    </div>
    <div class="card col-12 col-md-4  border-0 pb-2 zoom">
      <img src="https://rukminim1.flixcart.com/flap/480/480/image/8081dc1796a116f1.jpg?q=50"
        class="card-img img-thumbnail" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title"><a href="#"><button type="button" class="btn btn-light btn-sm">Men
              Collection</button></a></h5>
      </div>
    </div>

    <div class="card col-12 col-md-4 border-0 zoom">
      <img src="https://rukminim1.flixcart.com/flap/480/480/image/8081dc1796a116f1.jpg?q=50"
        class="card-img img-thumbnail" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title"><a href="#"><button type="button" class="btn btn-light btn-sm">Women
              Collection</button></a></h5>
      </div>
    </div>

  </div>


</div> %>

<!-- Feature products -->

<div class="container-fluid p-4 text-center feature h3">
  Feature Products
</div>






<div class="container-fluid ">

  <div class="row py-2 justify-content-center  gap-2 ">
    <% @products.each do |product| %>

      <div class="card col-lg-2 text-white  more " >
        <%= image_tag product.image,class:"img-fluid img-thumbnail  pt-2 border-0 " %>
        <div class=" card-img-overlay ">
          <div class=" card-text pb-4">
          <a href="/wish_item/<%= product['id'] %>" class="btn-sm btn-success me-2 bi bi-heart-fill fav"></a>
          
            <%= link_to 'View' , product,class:"btn-sm btn-primary text-decoration-none view" %>

        </div>


        <% if product_seller(product) %>

        <div class="card-text pb-4 align-baseline">
          <%= link_to 'Edit' , edit_product_path(product), class:"btn-sm btn-warning text-decoration-none text-white" %>
        </div>
        <%= button_to 'Delete' , product, method: :delete, class:" btn-sm btn-danger align-baseline", data: {
          confirm: 'Are you sure?' } %>
       <% end %>
      </div>
  <div class="card-body">
    <p class="card-text text-muted" style="color:black;">
      <%= product.brand %>
    </p>
    <p class="card-text " style="color:black;">
      <%= product.title %>
    </p>
    <p class="card-text " style="color:black;">
      ₹<%= product.price.to_i %>
    </p>
  </div>


</div>
<% end %>
  </div>

  <br>
</div>

      <% if product_seller(@product) %>

  <%= link_to 'New Product' , new_product_path %>
      <% end %>

<div class="text-center d-flex justify-content-center ">
    <button class="bttn btn btn-secondary  ">Load more</button>
  </div>

<script>
  $(".more").hide();
  $(".more").slice(0,15).show();
  $(".bttn").on("click",()=> {
  $(".more:hidden").slice(0,10).slideDown()
  if($(".more:hidden").length == 0 ){
    $(".bttn").fadeOut()
  }
  })
</script>