<!DOCTYPE html>
<h1 class="text-center bg-success text-white p-3" style="font-family: poppins, sans-serif;">Search Result</h1>
<div class="container my-5" style="min-height: 700px;">

<% if @products1.count > 0 %>

<div class="row py-2 justify-content-center gap-5">
    <% @products1.each do |product| %>

      <div class="card col-lg-3 text-white ">
        <%= image_tag product.image,class:"img-fluid img-thumbnail pt-2 border-0 " %>
        <div class=" card-img-overlay ">
          <div class=" card-text pb-4">
          <%= link_to '' , product,class:"btn-sm btn-success me-2 bi bi-heart-fill fav " %>
          
            <%= link_to 'View' , product,class:"btn-sm btn-primary text-decoration-none view" %>

      </div>


  </div>
  <div class="card-body">
    <p class="card-text text-muted" style="color:black;">
      <%= product.brand %>
    </p>
    <p class="card-text " style="color:black;">
      <%= product.title %>
    </p>
    <p class="card-text " style="color:black;">
      <%= product.price %>
    </p>
  </div>


</div>
<% end %>

  </div>
  <br>
<% else %>
<div class="text-center my-5">
  <img src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/error-no-search-results_2353c5.png" alt="Product not available" class="img-fluid w-50">
  <h3>Sorry, no results found!</h3>
   <h5 class="text-muted">Please check the spelling or try searching for something else</h5>
</div>
<% end %>

</div>

