<p id="notice">
  <%= notice %>
</p>

<div class="d-flex align-items-center ">

  <div class="container   bg-white">

    <div class="row m-5">

      <div class="col-md-5 me-5">
        <p>
          <%= image_tag @product.image,class:"img-fluid img-thumbnail", style:"width: 50vh" %>

        </p>
        <% if add_only_logged %>
        <div class="text-center">

           <form action="/cart" method="post">
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

            <input type="hidden" name="cart[product_id]" value="<%= @product.id %>">
            <input type="hidden" name="cart[user_id]" value="<%= current_user.id %>">
            <button type="submit" class="btn btn-warning w-100">Add to cart</button>
           </form>
        </div>
        <% else %>
          <div class="text-center">
              <%= button_to 'Add to cart' , products_path, class: 'btn btn-warning w-100',:data => {:confirm => 'Are you sure?'}  %>
          </div>

        <% end %>
      </div>

      <div class="col-md-5 ">

        <p class="fs-2 " style="color: #337973;">
          <%= @product.brand %>
        </p>

        <p class="fs-4 text-muted">
          <%= @product.title %>
        </p>

        <p class="text-success">Special Price</p>
        <p class="fs-4 h5">
          <strong>₹</strong>
          <%= @product.price %>
        </p>

        <div class="h5">Available offers</div>
        <div>
          <em class="bi bi-tag-fill text-success d-flex fs-4 "> &nbsp<p class="text-dark fs-6"> Special Price Get extra
              10% off (price inclusive of discount)T&C
            </p> </em>
          <em class="bi bi-tag-fill text-success d-flex fs-4"> &nbsp<p class="text-dark fs-6"> Bank Offer 5% Cashback on
              Flipkart Axis Bank CardT&C
            </p> </em>
          <em class="bi bi-tag-fill text-success d-flex fs-4"> &nbsp<p class="text-dark fs-6"> Bank Offer 10% off on
              ICICI Bank Credit Cards, up to ₹300. On orders of ₹1750 and aboveT&C
            </p> </em>
          <em class="bi bi-tag-fill text-success d-flex fs-4"> &nbsp<p class="text-dark fs-6">Partner Offer Sign up for
              Flipkart Pay Later and get Flipkart Gift Card worth upto ₹500*
            </p> </em>
        </div>


        <div class="row text-center ">
          <h3>Size</h3>
          <p class="border me-2 py-2 col ">XS</p>
          <p class="border me-2 py-2 col ">S</p>
          <p class="border me-2 py-2 col ">M</p>
          <p class="border me-2 py-2 col ">L</p>
          <p class="border me-2 py-2 col ">XL</p>
          <p class="border me-2 py-2 col ">XXL</p>
          <p class="border me-2 py-2 col ">3XL</p>

        </div>
        <p class="text-muted ">None of the accessories displayed in the pictures are shipped with the product and are purely for decorative
          purposes only. We do not accept exchanges or returns on these items.</p>
        <p>
          <hr>
          <strong>Description:</strong>
          <%= @product.description %>
        </p>



        <% if product_seller(@product) %>

          <%= link_to 'Edit' , edit_product_path(@product) %>

            <% end %>


              <small>Delivery by 7 Aug, Sunday | <small class="text-success">Free</small><small
                  class="text-decoration-line-through text-muted"> ₹40</small> </small>



              <div class="rate-card row my-5">
                <h2 class="col-12">Rate This Product</h2>
                <form action="/review"  method="post">
                  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                  <div class="star1 col-12">
                    <input type="checkbox" name="review[rating]" value="1" class="star me-4 parent">
                    <input type="checkbox" name="review[rating]" value="2" class="star me-4 check1">
                    <input type="checkbox" name="review[rating]" value="3" class="star me-4 check2">
                    <input type="checkbox" name="review[rating]" value="4" class="star me-4 check3">
                    <input type="checkbox" name="review[rating]" value="5" class="star check4">
                </div><br>

                  <input type="text" name="review[comment_box]" class="ps-1 col-12 mt-2 " style="height: 100px; padding-bottom:70px ;" >
                  <% if add_only_logged %>
                  <input type="hidden" name="review[user_id]" value="<%= current_user.id %>" >
                  <% end %>
                  <input type="hidden" name="review[product_id]" value="<%= @product.id %>">   
        
                  <button type="submit" class="btn btn-success mt-3">submit</button>
  
                </form>
  
              </div>

               <div class="customer-review ">
                <% current_product = @product.id %>
                <% @review = Review.where(product_id: current_product)  %>
                <h5 class=" text-center text-muted"> <%= @review.count %> customer ratings</h5>
                <div class="row my-5">
                 <% rate1 = @review.where(rating: 1).count %>
                 <% rate2 = @review.where(rating: 2).count %>
                 <% rate3 = @review.where(rating: 3).count %>
                 <% rate4 = @review.where(rating: 4).count %>
                 <% rate5 = @review.where(rating: 5).count %> 

                 <% if @review.count > 0 %>
                 <% rating1 = 100/(@review.count)*rate1 %>
                 <% rating2 = 100/(@review.count)*rate2 %>
                 <% rating3 = 100/(@review.count)*rate3 %>
                 <% rating4 = 100/(@review.count)*rate4 %>
                 <% rating5 = 100/(@review.count)*rate5 %>
                 <% end %>

                 <div class="col ">
                  <div class="mb-2  d-flex" style="width: 100%; background-color: #f3f3f3;"><small class="px-2 pt-1 text-muted bg-white">5 Star</small><div class="bar" style="width: <%= rating5 %>%; height: 25px; background-color: #04AA6D;"></div></div>
                  <div class="mb-2  d-flex" style="width: 100%; background-color: #f3f3f3;"><small class="px-2 pt-1 text-muted bg-white">4 Star</small><div class="bar" style="width: <%= rating4 %>%; height: 25px; background-color: #2196F3;"></div></div>
                  <div class="mb-2  d-flex" style="width: 100%; background-color: #f3f3f3;"><small class="px-2 pt-1 text-muted bg-white">3 Star</small><div class="bar" style="width: <%= rating3 %>%; height: 25px; background-color: #00bcd4;"></div></div>
                  <div class="mb-2  d-flex" style="width: 100%; background-color: #f3f3f3;"><small class="px-2 pt-1 text-muted bg-white">2 Star</small><div class="bar" style="width: <%= rating2 %>%; height: 25px; background-color: #ff9800;"></div></div>
                  <div class="mb-2  d-flex" style="width: 100%; background-color: #f3f3f3;"><small class="px-2 pt-1 text-muted bg-white">1 Star</small><div class="bar" style="width: <%= rating1 %>%; height: 25px; background-color: #f44336;"></div></div>
                 </div>
 
                 <div class="col-1 quantity row g-1 text-muted">
                  <small class="fs-5"><%= rate5 %></small>
                  <small class="fs-5"><%= rate4 %></small>
                  <small class="fs-5"><%= rate3 %></small>
                  <small class="fs-5"><%= rate2 %></small>
                  <small class="fs-5"><%= rate1 %></small>

                 </div>

                </div>
                
                <div class="mt-5">
                  <% if @review.count > 0 %>

                  <% @review.each do |review| %>
                  <% review_user = review.user_id %> 
                  <% from_user = User.where(id: review_user) %>
                  <% from_user.each do |get_user| %>
                    <small class="fs-5 text-muted"><%= get_user.name %></small> <br>
                  <% end %>

                  <%  review.rating.times do  %>
                    <em class="bi bi-star-fill text-warning "></em> 
                  <% end %>
     
                  <small class="text-muted"><%= review.comment_box%></small> <br>
<hr>
                  <% end %>
                  <% else %>
                  <h2 class="text-center text-muted">No reviews</h2>
                  <% end %>
                 </div>

                </div>







              <!-- <%= link_to 'Back' , products_path %> -->
      </div>

    </div>
  </div>

</div>







  <script>


    $(document).ready(function(){
 $('.star1').on( "change", "input[type=checkbox]", function(e) {
  if ($(this).hasClass("parent")) { 
    if ($('.parent').prop("checked")) {
      $('.parent').prop("checked", true);

    }else
    {
      $('.parent').prop("checked", true);
      $('.check1').prop("checked", false);
      $('.check2').prop("checked", false);
      $('.check3').prop("checked", false);
      $('.check4').prop("checked", false);

    }
  } else if ($(this).hasClass("check1")) { 
    if ($('.check1').prop("checked")) {
      $('.parent').prop("checked", true);

    }else
    {
      $('.check1').prop("checked", true);
      $('.check3').prop("checked", false);
      $('.check2').prop("checked", false);
      $('.check4').prop("checked", false);

    }
  } else if ($(this).hasClass("check2")) { 
    if ($('.check2').prop("checked")) {
      $('.parent').prop("checked", true);
      $('.check1').prop("checked", true);

    }else
    {
      $('.check2').prop("checked", true);
      $('.check3').prop("checked", false);
      $('.check4').prop("checked", false);

    }
  } else if ($(this).hasClass("check3")) { 
    if ($('.check3').prop("checked")) {
      $('.parent').prop("checked", true);
      $('.check1').prop("checked", true);
      $('.check2').prop("checked", true);

    }else
    {
      $('.check3').prop("checked", true);
      $('.check4').prop("checked", false);

    }
  } else if ($(this).hasClass("check4")) { 
    if ($('.check4').prop("checked")) {
      $('.parent').prop("checked", true);
      $('.check1').prop("checked", true);
      $('.check2').prop("checked", true);
      $('.check3').prop("checked", true);


    }else
    {
      $('.check4').prop("checked", true);

    }
  }

});
});


  </script>



