<div class="row">

  <div class="col-md">
    <figure >
      <%= image_tag(line_item.product.image,class:"col-lg-7 col-4 img-fluid   ") %>
    </figure>
  </div>
  <div class="col-md">
    <strong><%= line_item.product.title %></strong><br>
    <small class="text-muted">XS</small>
    <small class="text-dark">Seller : Hasan</small>

    <div>
      <div>
        <%= line_item.product.brand %>
      </div>
      <div >
        <strong class="f4"><%= "Rs: #{(line_item.total_price)}" %></strong>
      </div>
      <div class="row">
        <p class="col-lg-5 fs-5">Quantity:</p>
           <p class="col-lg-2  border text-center py-1"><%= line_item.quantity %></p>
      </div>
    
    </div>
  </div>

  <div class="col-md">
    <small>Delivery by 7 Aug, Sunday | <small class="text-success">Free</small><small
    class="text-decoration-line-through text-muted"> ₹40</small> </small>


  </div>

</div>

<div class="has-text-right">
  <%= button_to 'Remove Item', line_item, method: :delete, data: { confirm: "Are you sure? " }, class: "button is-small mb4" %>
</div>

<hr >